<% doctors.each do |doctor| %>
  <tr>
    <td><%= doctor.email %></td>
    <td><%= doctor.phone %></td>
    <% if current_user.admin? %>
      <td><%= doctor.category&.name %></td>
      <td><%= link_to 'Change Category', edit_doctor_path(doctor.id), class: 'btn btn-primary btn-sm' %></td>
    <% end %>
    <% if current_user.patient? %>
      <td>
        <%= link_to 'New Appoinment',
                    new_appointment_path(doctor_id: doctor.id),
                    class: 'btn btn-primary btn-sm' %>
      </td>
    <% end %>
    <td>
      <%= doctor.unavailable? ? 'unavaliable' : 'avaliable' %>
    </td>
  </tr>
<% end %>
