<div class="row justify-content-center">
  <div class="col-8 text-center">
    <h4>Answer the Appointment #<%= appointment.id %></h4>

    <%= render 'appointments/errors', appointment: appointment %>

    <div class="text-start">
      <%= form_for appointment do |form| %>
      <b>Patient: </b><%= appointment.patient.email %>

      <div class="text-start mt-4 d-flex flex-row align-items-center">
        <div col=3>Appointment priority</div>
        <div class="col-1 mx-3 priority-<%= appointment.priority %>"></div>
      </div>

      <div class="row justify-content-evenly mt-4">
        <div class="col-6">
          <div class="mb-3 fw-bold">Question:</div>
          <div class="alert alert-secondary" role="alert">
            <%= appointment.question %>
          </div>
        </div>
        <div class="col-6">
          <div class="mb-3 fw-bold">Answer:</div>
            <%= form.text_area :answer, autofocus: true,
                                        class: 'form-control form-control-sm',
                                        style: 'min-height: 13em' %>
        </div>
      </div>
      <%= form.submit 'Send Answer', class: 'btn btn-primary btn-sm' %>
      <%= link_to 'Back', :back, class: 'btn btn-outline-secondary btn-sm' %>
      <% end %>
    </div>
  </div>
</div>
